.products{
    width: 100%;
    background-color: #fff;
    padding: 90px 165px;
}
.products__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}