.details__bottom{
    padding: 90px 165px;
    display: flex;
    flex-direction: row;
}
.details__bottom__heading{
    margin-top: 58px;
    font-weight: 400;
    font-size: 40px;
    color: #666666;
}
.details__bottom__paragraph{
    color: #85859B;
    font-weight: 400;
    font-size: 18px;
}